/* Variables */

:root {
	--body-font: 'Manrope', sans-serif;

	--Light-Cyan: hsl(193, 38%, 86%);
	--Neon-Green: hsl(150, 100%, 66%);
	--Grayish-Blue: hsl(217, 19%, 38%);
	--Dark-Grayish-Blue: hsl(217, 19%, 24%);
	--Dark-Blue: hsl(218, 23%, 16%);
}

/* Default */

body {
	font-family: var(--body-font);
	font-weight: 800;
	background-color: var(--Dark-Blue);
}

/* Display */

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.advice-container {
	max-width: 540px;
}

.advice-btn {
	position: absolute;
	bottom: -35px;
	left: 50%;
	transform: translateX(-50%);
}

/* Advice */
.advice-container {
	position: relative;
	border-radius: 10px;
	padding: 40px 25px 65px;
	background-color: var(--Dark-Grayish-Blue);
}

.advice-id {
	font-size: 14px;
	letter-spacing: 0.11em;
	margin-bottom: 25px;
	color: var(--Neon-Green);
}

.advice-text {
	font-size: 28px;
	margin-bottom: 40px;
	color: var(--Light-Cyan);
}

.advice-btn {
	width: 65px;
	height: 65px;
	font-size: 30px;
	background-color: var(--Neon-Green);
	transition: all 0.8s ease;
	box-shadow: 0 0px 30px transparent;
}

.advice-btn:hover {
	transition: all 0.6s ease;
	box-shadow: 0 0px 30px var(--Neon-Green);
}

/* Media queries */

@media screen and (min-width: 992px) {
	.advice-container {
		border-radius: 15px;
		padding: 50px 50px 70px;
	}

	.advice-id {
		font-size: 14px;
		letter-spacing: 0.25em;
		margin-bottom: 25px;
	}
}
